@font-face {
    font-family: 'JetBrains-Mono';
    src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color: 230;
    --saturantion: 26%;
    --lightness: 10%;
    --fontSize: 2.3rem;
    --bounds: 200px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: hsl(var(--color), var(--saturantion), var(--lightness));

    overflow: hidden;
    margin: 0px;

    font-family: 'JetBrains-Mono';
    color: aliceblue;
    width: 100vw;
    height: 100vh;
}

.custom-frame {
    -webkit-app-region: drag;
    display: flex;
    width: 100vw;
    height: 35px;
    color: aliceblue;
    background-color: hsl(var(--color), var(--saturantion), calc(var(--lightness) * 0.8));
    justify-content: end;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;

    -webkit-app-region: no-drag;
    cursor: pointer;
    font-size: 0.9rem;
}

.nav-link:hover {
    background-color: rgb(88, 88, 97);
}

#close-app:hover {
    background-color: rgb(244, 7, 7);

}

.container {
    margin-left: var(--bounds);
    margin-right: var(--bounds);
}

.configuration-container {
    display: flex;
    -webkit-user-select: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    margin-top: 17vh;
    margin-bottom: 20px;
}

.configuration {
    display: flex;
    background-color: hsl(var(--color), var(--saturantion), calc(var(--lightness) * 0.85));

    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 6px;
    padding-right: 6px;
    gap: 40px;

    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.opt, .opt-type, .custom-opt {
    cursor: pointer;
    background-color: hsl(var(--color), var(--saturantion), calc(var(--lightness) * 1.2));
    border-radius: 5px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

.opt:hover, .opt-type:hover, .custom-opt:hover {
    background-color: hsl(var(--color), var(--saturantion), calc(var(--lightness) * 1.4));
}

.opt:active, .opt-type:active, .custom-opt:active {
    background-color: hsl(var(--color), var(--saturantion), calc(var(--lightness) * 2));
}

.opt-selected, .opt-type-selected, .custom-opt-selected {
    /* cursor: pointer; */
    background-color: hsl(var(--color), var(--saturantion), calc(var(--lightness) * 0.85));
    border-radius: 5px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;

    color: aliceblue;
}

.custom-opt {
    color: aliceblue;
}

.custom-popup {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;

    z-index: 100;

    align-items: center;
    justify-content: center;
    

    /* opacity: 20%;
    background-color: rgb(0, 0, 0); */
}

.custom-selector {
    /* position: fixed; */

    z-index: 101;

    background-color: hsl(var(--color), var(--saturantion), calc(var(--lightness) * 1.4));
    opacity: 100%;

    width: 300px;
    height: 240px;

    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.septum {
    background-color: hsl(var(--color), var(--saturantion), calc(var(--lightness) * 1.4));
    width: 5px;
    height: calc(var(--fontSize) / 1.7);
    border-radius: 5px;
}

#caret {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 3px;
    height: calc(var(--fontSize) * 1.2);
    border-radius: 5px;

    position: absolute;
    transition: transform 0.1s ease-in-out;
}

.test-container {
    display: flex;
    flex-wrap: wrap;
    -webkit-user-select: none;

    color: rgb(255, 255, 255);
    font-size: var(--fontSize);
    pointer-events: none;
}

#timer {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#test {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin-top: 0px;
}

letter {
    margin: 0;
    padding: 0;
}

#wpm {
    font-size: calc(var(--fontSize) * 3 / 2);
}

#acc {
    font-size: calc(var(--fontSize) * 3 / 2);
}

.word {
    visibility: visible;
}

.invis-word {
    visibility: hidden;
}

.test-results {
    display: grid;
    margin-top: 20px;
}

.untyped {
    color: rgb(227, 229, 238);
}

.active-word {
    background-color: hsl(var(--color), calc(var(--saturantion) * 1.1), calc(var(--lightness) * 1.2));
    border-radius: 3px;
}

.correct {
    color: hsl(var(--color), calc(var(--saturantion) * 0.6), calc(var(--lightness) * 5));
}

.incorrect {
    color: rgb(218, 51, 51);
}

.overflowed{
    color: rgb(115, 19, 19);
}