.test-container {
    background-color: rgb(240, 240, 240);
}

#test {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    color: black;

    font-size: 2rem;
}

.untyped {
    color: rgb(0, 0, 0);
}

.active-word {
    background-color: rgb(129, 129, 129);
}

.correct {
    color: rgb(255, 255, 255);
}

.incorrect {
    color: rgb(255, 0, 0);
}

.overflowed{
    color: rgb(106, 11, 11);

}